.reposList {
    &_row {
        &:hover {
            cursor: pointer;
            background: #FAFAFA;
        }

        .owner_info {
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;
            padding: 2px;
        }

        .table_column {
            padding: 20px 10px;
            font-size: 14px;
            line-height: 18px;
            color: #4a4a4a;
            vertical-align: middle;
        }
    }
}

.table {
    &_header{
        display: block;
        background: rgba(244, 244, 244, 0.95);

        .table_column {
            padding: 20px 10px;
            text-align: left;
            font-size: 14px;
            line-height: 24px;
            color: #000;
            font-weight: 500;
            border-bottom: 1px solid #e0e0e0;
        }

    }

    &_column {
        display: inline-block;

        &-repo_id {
            width: 5%;
        }

        &-repo_name {
            width: 25%;
        }

        &-owner {
            width: 20%;
        }

        &-owner_type {
            width: 10%;
        }

        &-description {
            width: 36%;
        }

        &-icon_col {
            width: 3%;
        }
    }
}
